caption {
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

table {
  width: 100%; /* You can set the width to any percentage or value you prefer */
  border-collapse: collapse;
  margin-bottom: 2.5em;
}

th, td {
  padding: 0.5em 1.2em 0.5em 0.6em; /* top right bottom left */
  text-align: left;
  min-width: 10em;
}

.long-name {
  min-width: 12em;
}

.short-name {
  min-width: 6em;
}

th {
  border-top: 2px solid #8f8f8f;
  border-bottom: 1.5px solid #ddd;
}

td {
  border-top: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f8f8f8;
}

a {
  color: inherit;
  text-decoration: none;
}
