caption {
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

table {
  width: 100%; /* You can set the width to any percentage or value you prefer */
  border-collapse: collapse;
  margin-bottom: 2.5em;
}

th, td {
  padding: 0.5em 1.2em 0.5em 0.6em; /* top right bottom left */
  text-align: left;
  min-width: 10em;
  white-space: nowrap;
}

.col-name {
  max-width: 12em;
  width: 12em;
}

.col-instructor {
  max-width: 9em;
  width: 9em;
}

.col-time, .col-location {
  min-width: 3em;
  width: 3em;
}

.col-school {
  min-width: 6em;
  width: 6em;
}

th {
  border-top: 2px solid #8f8f8f;
  border-bottom: 1.5px solid #ddd;
}

td {
  border-top: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f8f8f8;
}

a {
  color: inherit;
  text-decoration: none;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  /* Hide the Instructor, Room, and Location columns */
  .dance-class-table th.col-instructor,
  .dance-class-table td.col-instructor,
  .dance-class-table th.col-room,
  .dance-class-table td.col-room,
  .dance-class-table th.col-location,
  .dance-class-table td.col-location {
    display: none;
    font-size: 0.5em;
  }

  caption {
    text-align: left;
    padding-left: 2em;
    font-size: 1.2em;
  }
  th, td{
    text-align: center;
  }

  .col-time{
    padding-left: 2.5em;
  }

  .col-school{
    text-align: right;
    padding-right: 2.5em;
  }


  table {
    width: auto;
    border-collapse: collapse;
    margin-bottom: 2.5em;
    box-sizing: border-box;
    position: relative;
    left: 5em
  }

  thead, tbody {
  }

  .hide{
    display: none;
  }

}
